Workspace2_Practice/Task_Validation/Validation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requestId" type="xs:unsignedByte" />
              <xs:element name="channelId">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="TPH" />
                    <xs:enumeration value="FCS" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="requestTime" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Data">
                <xs:complexType>
                  <xs:sequence>
                    <!-- Allow any element instead of a fixed <catalog> -->
                    <xs:any processContents="lax" minOccurs="1" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
