Workspace2_Practice/Mapping_App/myschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Root element -->
  <xsd:element name="Emp">
    <xsd:complexType>
      <xsd:sequence>
        <!-- Child elements -->
        <xsd:element name="a" type="xsd:integer"/>
        <xsd:element name="b" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
